<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="personService" class="cn.itcast.service.impl.PersonServiceBean"
		scope="prototype">
		<!-- 设置person属性，注入引用的bean -->
		<property name="person" ref="person"></property>
	</bean>
	<bean id="person" class="cn.itcast.dao.impl.PersonBean"></bean>

	<bean id="personService1" class="cn.itcast.service.impl.PersonServiceBean"
		scope="prototype">
		<!-- 设置内部bean -->
		<property name="person">
			<bean class="cn.itcast.dao.impl.PersonBean"></bean>
		</property>
		<!-- 注入基本值 -->
		<property name="value" value="傻X"/>
	</bean>
	<bean id="personService2" class="cn.itcast.service.impl.PersonServiceBean" ></bean>
</beans>